<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application
        android:name=".CafeShopApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.CafeApp">
        
        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".view.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CafeApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Table Management -->
        <activity
            android:name=".view.TableListActivity"
            android:exported="false" />
        
        <!-- Additional Activities from main branch -->
        <activity
            android:name=".view.StaffDetailActivity"
            android:exported="false"
            android:parentActivityName=".view.StaffListActivity"/>
        <activity
            android:name=".view.ProductUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".view.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.CreateReservationActivity"
            android:exported="true" />
        <activity 
            android:name=".view.activity.ReservationListActivity" 
            android:exported="false" />
        <activity 
            android:name=".view.activity.ReservationDetailActivity" 
            android:exported="false"/>
        <activity
            android:name=".view.ReservationActivity"
            android:exported="true"></activity>
        <activity
            android:name=".view.ReservationListActivity"
            android:exported="false" 
            android:parentActivityName=".view.ReservationActivity" />
        <activity
            android:name=".view.ReservationDetailActivity"
            android:exported="false"
            android:parentActivityName=".view.ReservationListActivity" />
        <activity
            android:name=".view.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.AdminHomeActivity"
            android:theme="@style/Theme.CafeApp.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".view.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".view.VoucherManagementActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoyaltyListActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeMenuActivity"
            android:exported="true"/>
        <activity
            android:name=".view.LoginActivity"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.StaffListActivity"
            android:exported="true">
        </activity>
        
        <!-- Ingredient Management -->
        <activity
            android:name=".view.AddEditIngredientActivity"
            android:exported="false"
            android:parentActivityName=".view.AdminHomeActivity"
            android:theme="@style/Theme.CafeApp" />

    </application>

</manifest>
